# Temp files
.DS_Store
*~
.idea/
# Compiled files
__pycache__/
_build/
# Distribution / packaging
/build/
/dist/
/*.egg-info/

# Tests and coverage
/.pytest_cache/
/.cache/
/data/

# docs
/docs/generated/
/docs/_build/

# IDEs
/.idea/
/.vscode/
notes.md

htmlcov/
.coverage*

docs/user_guide/dummy_experiment/output/region_0/cell_masks*
docs/user_guide/dummy_experiment/output/region_0/*cellpose*
docs/user_guide/dummy_experiment/output/region_0/detected_transcripts.hdf5
docs/user_guide/dummy_experiment/output/region_0/images/smfish_transcripts.hdf5
